extends layout

block content
	table(class="table table-striped table-hover")
		thead
			tr
				th(scope="col")= "Property"
				th(scope="col")= "Expected Type"
				th(scope="col")= "Description"
		tbody
			- var currPropertIndex = 1
			each property in properties
				th(scope="row")= currPropertIndex
				td= property.name
				td= "to be parsed"
				td= property.description
				currPropertIndex = currPropertIndex + 1
